# Template for: secrets/budhilaw-ssh.yaml
#
# DO NOT commit this file — it's just an example.
# Create the real file with: nix run nixpkgs#sops -- secrets/budhilaw-ssh.yaml
# Paste the contents of each key file when your editor opens.
#
# Get key content: cat ~/.ssh/<name>

id_ed25519_personal: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    PASTE_PRIVATE_KEY_CONTENT_HERE
    -----END OPENSSH PRIVATE KEY-----

id_ed25519_hosthatch: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    PASTE_PRIVATE_KEY_CONTENT_HERE
    -----END OPENSSH PRIVATE KEY-----

id_ed25519_hosthatch_deploy: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    PASTE_PRIVATE_KEY_CONTENT_HERE
    -----END OPENSSH PRIVATE KEY-----

id_ed25519_hosthatch_deploy_agent: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    PASTE_PRIVATE_KEY_CONTENT_HERE
    -----END OPENSSH PRIVATE KEY-----

id_ed25519_STB_One: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    PASTE_PRIVATE_KEY_CONTENT_HERE
    -----END OPENSSH PRIVATE KEY-----

id_ed25519_STB_Two: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    PASTE_PRIVATE_KEY_CONTENT_HERE
    -----END OPENSSH PRIVATE KEY-----
