# Template for: secrets/ericssonbudhilaw-ssh.yaml
#
# DO NOT commit this file — it's just an example.
# Create the real file with: nix run nixpkgs#sops -- secrets/ericssonbudhilaw-ssh.yaml
#
# Get key content: cat ~/.ssh/id_ed25519_amartha

id_ed25519_amartha: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    PASTE_PRIVATE_KEY_CONTENT_HERE
    -----END OPENSSH PRIVATE KEY-----
